<mdb-breadcrumb>
    <mdb-breadcrumb-item ><a [routerLink]="['']">Home</a></mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">Evenementen</mdb-breadcrumb-item>
</mdb-breadcrumb>

<h3>App evenement</h3>
<br>
<div>
    <mat-form-field>
        <input matInput (keyup)='filterPlaats$.next($event.target.value)' 
            type='text' 
            placeholder='filter plaats name...'>
    </mat-form-field>
    <!-- ... -->
    <div fxLayout="row" [...] >
      <div fxFlex="0 0 calc(25%-0.5%)"
        *ngFor="let localEvenementen of (evenementen$ | async | evenementFilter: filterEvenementName)">
        <app-evenement-list [evenementen]="localEvenementen"></app-evenement-list>
      </div>
    </div>
  </div>
<hr>
<br>
<h1>Evenementen</h1>

<p class="mt-2 ml-2"><mat-slide-toggle [(ngModel)]="opened">Zoek met categoriën</mat-slide-toggle></p>
<mat-sidenav-container class="example-container">
    <!--Linkerkant-->
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
        (closed)="events.push('close!')">
        <div class="container mt-3 ">
            <div class="scrollbar-ripe-malinka">
                <h4>Sorteer</h4>

                <!--Sorteer op Genre-->
                <h5 class="clear mt-2">Sorteer op genre</h5>
                <mat-radio-group class="example-radio-group" [(ngModel)]="geselecteerdeCategorie">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of categories" [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
    
                <!--Sorteer op Plaats-->
                <h5 class="clear mt-4">Sorteer op Plaats</h5>
                <mat-form-field color="accent">
                    <input matInput (keyup)='filterPlaats$.next($event.target.value)' 
                      type='text' 
                      placeholder='plaatsnaam...'>
                  </mat-form-field>     
    
                <!--Sorteer op Populaireit-->
                <h5 class="clear mt-2">Sorteer op Populariteit</h5>
                <mat-radio-group class="example-radio-group" [(ngModel)]="geselecteerdeCategorie">
                    <mat-radio-button class="example-radio-button" *ngFor="let item of categories" [value]="item">
                        {{item}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </mat-sidenav>
    <!--Rechterkant-->
    <mat-sidenav-content>
        <div *ngIf="geselecteerdeCategorie==Categorie[Categorie.Alles]; then showAll else showOpCategorie">
            </div>
            <ng-container>
                <ng-template #showAll>
                    <app-evenement-list [geselecteerdeCategorie]="" [evenementen]="(getEvenementen)"></app-evenement-list>
                </ng-template>
                <ng-template #showOpCategorie>
                    <app-evenement-list [geselecteerdeCategorie]="geselecteerdeCategorie"></app-evenement-list>
                </ng-template>
            </ng-container>
        </mat-sidenav-content>
</mat-sidenav-container>

