.col-sm-6, .col-md-6{
    padding:10px;
    float:left;
}

/* Kaartjes even groot maken */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.mat-card {
    height:100%;
}

.hidden{
    display:none;
}

.evenementKaartje{
    width: 400px;
    float: left;
    padding: 10px;
}
ul{
    list-style: none;
}
