<form #evenementForm="ngForm">
  <div class="form-row">
    <div class="formgroup col-sm-6">
      <input class="form-control" name="Titel" #Titel="ngModel" [(ngModel)]="evenementService.selectedEvenement.Titel"
        placeholder="Titel">
    </div>
  </div>
  <div class="form-row">
    <div class="formgroup col-sm-12">
      <input class="form-control" name="Beschrijving" #Beschrijving="ngModel"
        [(ngModel)]="evenementService.selectedEvenement.Beschrijving" placeholder="Beschrijving">
    </div>
  </div>
  <div class="form-row">
    <button mat-raised-button color='primary' type="submit" (click)="resetForm(evenementForm)"> Reset </button>
  </div>