html, body { height: 100%; margin-top:64px;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* You can add global styles to this file, and also import other style files */
.clear{
    width:100%;float:none;
}
