<mdb-breadcrumb>
    <mdb-breadcrumb-item ><a [routerLink]="['']">Home</a></mdb-breadcrumb-item>
    <mdb-breadcrumb-item ><a [routerLink]="['/evenementen']">Evenementen</a></mdb-breadcrumb-item>
    <mdb-breadcrumb-item class="active">{{evenement.Titel}}</mdb-breadcrumb-item>
</mdb-breadcrumb>

<div class="container-fluid" *ngIf="evenement">
    <mat-card cascade="true" wider="true" reverse="true" class="my-4">
        <!--Card image-->
        <div class="view view-cascade overlay waves-light">
            <img mat-card-image src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--/Card image-->

        <!-- Card content -->
        <mat-card-content cascade="true" class="text-center">

            <h4 class="primary">
                <strong>Photography</strong>
            </h4>

            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
            </p>
            <!--Linkedin-->
            <button mat-icon-button style="color:#4875B4">
                <i class="fab fa-linkedin-in px-3"> </i>
            </button>
            <!--Twitter-->
            <button mat-icon-button style="color:#33CCFF">
                <i class="fab fa-twitter px-3"> </i>
            </button>
            <!--Facebook-->
            <button mat-icon-button style="color: #3B5998">
                <i class="fab fa-facebook px-3"> </i>
            </button>
        </mat-card-content>
    </mat-card>

    <div class="container">
        <div class="row" *ngIf="evenement">
            <div class="col-sm-6">
                <h2 class="display-3">{{evenement.Titel}}</h2>
                <h3>{{evenement.Datum | date:'EEEE d MMMM y'}}</h3>
                <p>{{evenement.Beschrijving}}</p>
            </div>
            <div class="col-sm-6">
                <img src="../../../assets/{{evenement.File}}" alt="{{evenement.File}}">
            </div>
            <div class="col-sm-6">
                <h1>{{evenement.Locatie}}</h1>
            </div>
        </div>
        <div class="row" *ngIf="!evenement">
            Evenement niet gevonden.
        </div>
    </div>
</div>