.form-row{
    margin:8px;
}
.example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  
@media screen and (max-width: 768px) {
  .mat-drawer.mat-drawer-side{
    display:contents;
    visibility: visible
  }
}